@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Allan:wght@400;700&family=Atma:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pompiere&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ribeye&family=Rubik+Distressed&display=swap');

*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #f5f5f5;
}
section{
    padding: 20px 0;
    margin-top: 20px;
}
p{
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 37.8px;
    color: #333;
}
.flex-column img{
    height: 550px !important;
}
.navbar{
    background-color: #fff;
}

.nav-link:hover{
    /* color: #bf9b30 !important; */
    text-decoration: underline;
    text-decoration-color: #bf5b58;
    text-underline-offset: 5px;
}
.nav-link.used{
    /* color: #bf9b30; */
    text-decoration: underline;
    text-decoration-color: #bf5b58;
    text-underline-offset: 5px;
}
.hero-image{
    height: 60vh;
    width: 100%;
    /* max-height: 450px; */
}

.section-heading{
    font-family: "Inter", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 26.4px;
    color: #333;
    text-align: center;
    text-transform: capitalize;
}
.booking-form{
    max-width: 70%;
}
.page-heading{
    font-family: Poppins, arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 25.2px;
    color: rgb(27, 27, 27);

}
.how-text{
    font-family: "Inter", serif;
    font-weight: 450;
    font-size: 24px;
    line-height: 28.6px;
    color: #333;
    text-transform: capitalize;
}
.column{
    flex: 33.3%;
}
.carouselSection{
    background-color: #e7bebc;
}
.btn-secondary{
    background-color: #bf5b58;
    border: none;
}
.btn-secondary:hover{
    color:#bf5b58;
    background-color: #fff;
    border: 1px solid #bf5b58;
}
img{
    border-radius: 8px;
}
.footNote{
    font-size: 8px;
}

@media only screen and (max-width: 750px){
    .hero-image, .carousel-item img{
        height: 350px;
    }
    .booking-form{
        max-width: 100% !important;
    }
    .flex-column img{
        height: 400px !important;
    }
}


    
